body {
	background-color: #0e0e0e;
	color: #f4f4f4;
	
	font-family: Helvetica;
}

.no-border {
	border: none !important;
	border-radius: 0px;
}
.no-spacing {
	margin: 0px !important;
	padding: 0px !important;
}

.ui-widget-content {
	background-color: #1e1e1e;
	color: #f4f4f4;
}
.ui-button {
	color: #222222 !important;
}

.layout-container {
	position: inherit !important;
	min-width: 400px;
	min-height: 200px;
}

.menubar {
	background-color: #55cc55;
	color: #222222;
}

.space-background > .jqplot-series-canvas {
	background-color: #0c0011;
}
.space-background > .jqplot-series-canvas > .jqplot-bubble-label {
	visibility: hidden;
}
